<footer>
<p>
This website is maintained by CNCF Kochi Community Team Members. Powered by netlify, Template courtesy <a href="{{ pkg.repository.url }}">GitHub</a>.
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
